.App {
  font-family: sans-serif;
  text-align: center;
}
.dayItem {
  height: 151px;
  border-right: 1px solid black;
  cursor: pointer;
}
.visitLine {
  display: flex;
  justify-content: center;
  border: 1px solid black;
  width: 250px;
}
.visitField {
  padding: 0px;
  font-size: 10px;
}
.emptyCell {
  width: 250px;
  height: 148px;
  border: 1px solid gray;
}
.emptyField {
  width: 60%;
  height: 42px;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  cursor: pointer;
}
.visitTime {
  width: 20%;
  text-align: center;
  height: 25px;
  padding: 0px;
  padding-top: 14px;
  font-size: 10px;
  cursor: pointer;
}
.doctorNames {
  height: 42px;
  display: grid;
  grid-template-columns: repeat(2, 15px);
}
.doctorNames div {
  padding-top: 2px;
}
h2 {
  margin: 0 auto 5px auto;
}
.headerLine {
  margin: 0 auto;
  width: 1400px;
  display: grid;
  grid-template-columns: repeat(5, 250px) 1fr 1fr;
}
.headerLine div {
  text-align: center;
  font-weight: bold;
  border: 1px solid gray;
}
#dateLine {
  text-align: center;
  width: 100%
}
.calendarContainer {
  margin: 0 auto;
  width: 1400px;
  display: grid;
  grid-template-columns: repeat(5, 250px) 75px 75px;
  border: 1px solid gray;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, 0.2);
}
#nextMonthContainer {
  box-shadow: 12px 12px 2px 1px rgba(0, 234, 255, 0.2);
}
.weekend {
  width: 75px;
  text-align: center;
  border: 1px solid black;
  border-top: 0;
}
.weekendHeader {
  border: 1px solid black;
  border-top: 0;
  cursor: pointer;
  font-size: 1.5;
}
.form_container {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 470px;
  grid-column-gap: 10px;
}
.remove_modal {
  width: 300px;
  height: 200px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}

button:hover {
  --translate-y: -2px;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.5);
  border-color: dimgray;
}

.rejectBtn {
  background-color: coral;
  color: black;
}
.submitLine {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.toastsCont {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  row-gap: 5px;
  column-gap: 5px;
  width: 80%;
  margin: 20px auto;
}
.modalBtnLine button{
  margin: 10px;
}
.modalBtnLine {
  display: flex;
  justify-content: center;
}
